{% extends "layout/base_dashboard.html" %}
{% load static %}

{% block title %}{% if object %}Editar ítem{% else %}Nuevo ítem{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'estudiantes/css/items_form.css' %}">
{% endblock %}

{% block content %}
<div class="kardex-form-dashboard">
  <form method="post" class="form-usuario">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="titulo-form">{% if object %}Editar ítem #{{ object.id }}{% else %}Nuevo ítem de Kárdex{% endif %}</div>

    <div class="form-group">
      {{ form.area.label_tag }}
      {{ form.area }}
    </div>

    <div class="form-group">
      {{ form.descripcion.label_tag }}
      {{ form.descripcion }}
    </div>

    <div class="form-group">
      {{ form.sentido.label_tag }}
      {{ form.sentido }}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-guardar">Guardar</button>
      <a href="{% url 'estudiantes:kardex_items_listar' %}" class="btn-volver">Cancelar</a>
    </div>
  </form>
</div>
{% block scripts %}
<script src="{% static 'estudiantes/js/items_form.js' %}"></script>
{% endblock %}
{% endblock %}
