{% extends "layout/base_dashboard.html" %}
{% load static %}

{% block title %}Crear usuario{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cuentas/css/crear_usuario.css' %}">
{% endblock %}

{% block content %}

<form method="post" class="form-usuario">
  <h2 class="titulo-form">Registrar nuevo usuario</h2>
  {% csrf_token %}

  <div class="form-group">
    <label for="{{ form.ci.id_for_label }}">CI</label>
    {{ form.ci }}
    <small id="ci-error" style="color:red; display:none;"></small>
  </div>

  <div class="form-group">
    <label for="{{ form.nombres.id_for_label }}">Nombres</label>
    {{ form.nombres }}
    <small id="nombres-error" style="color:red; display:none;"></small>
  </div>

  <div class="form-group">
    <label for="{{ form.apellidos.id_for_label }}">Apellidos</label>
    {{ form.apellidos }}
    <small id="error-apellidos" style="color:red; display:none;"></small>
  </div>

  <div class="form-group">
    <label for="{{ form.email.id_for_label }}">Gmail (opcional)</label>
    {{ form.email }}
    {# error del form (servidor) #}
    {% if form.email.errors %}
      <small class="error">{{ form.email.errors.0 }}</small>
    {% endif %}
    {# mensaje de tu JS (cliente) #}
    <small id="error-email" style="color:red; display:none;"></small>
  </div>


  <div class="form-group">
    <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
    {{ form.telefono }}
    <small id="error-telefono" style="color:red; display:none;"></small>
  </div>

  <div class="form-group">
      <label for="{{ form.rol.id_for_label }}">Rol</label>
      {{ form.rol }}
      <small id="error-rol" style="color:red; display:none;"></small>
  </div>

  <!-- No se muestra, pero se incluye para enviar el valor -->
  {{ form.is_activo }}

  <div class="form-group">
    <label for="{{ form.password1.id_for_label }}">Contraseña</label>
    {{ form.password1 }}
    <small style="color:orange;">
        Contraseña por defecto 123456789, esta debe ser cambiada por el usuario al iniciar sesión.
    </small>
  </div>

  <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Confirmar contraseña</label>
      {{ form.password2 }}
  </div>

  <div class="form-actions">
    <button type="submit" class="btn-guardar">Guardar</button>
    <a href="{% url 'cuentas:lista_usuarios' %}" class="btn-volver">Volver a la lista</a>
  </div>
</form>
{% block scripts %}
<script src="{% static 'cuentas/js/usuario.js' %}"></script>
{% endblock %}
{% endblock %}