{% extends "layout/base_dashboard.html" %}
{% block title %}Editar Usuario{% endblock %}

{% block content %}
  <h2>Editar Usuario</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <fieldset>
      <legend>Nueva contraseña (opcional)</legend>
      <p><label>Nueva contraseña: <input type="password" name="new_password1"></label></p>
      <p><label>Confirmar nueva contraseña: <input type="password" name="new_password2"></label></p>
    </fieldset>

    <p>
      <button type="submit">Guardar</button>
      <a href="{% url 'cuentas:ver_usuario' usuario.id %}">Ver</a> |
      <a href="{% url 'cuentas:lista_usuarios' %}">Volver</a>
    </p>
  </form>
{% endblock %}
